[Unit]
Description=Ngraph - Network Connections Data Collector (https://github.com/alebsys/ngraph)
After=network.target
Wants=network.target

[Service]
ExecStart=ngraph \
--all \
--exclude "127.0"

[Install]
WantedBy=multi-user.target
